/*RESETEO*/
* {
  margin: 0;
  padding: 0; }

img {
  height: 100%;
  width: 100%; }

/*ESTILO NAV*/
.logoIndex {
  margin-left: 2%;
  height: 100px;
  width: 400px; }

.ulNavIndex {
  margin: 5%;
  width: 100%;
  justify-content: flex-end; }

.navIndex {
  border-bottom: 1px solid black;
  box-shadow: 0px 10px 50px 1px gray; }

.divFooter {
  height: 50px;
  background-color: gray;
  margin-top: 2%;
  border-top: 2px solid #45dd45; }

.contenedorDelCarrusel {
  height: 500px;
  margin-top: 2%; }
  .contenedorDelCarrusel .contenedorCarrusel {
    height: auto; }
    .contenedorDelCarrusel .contenedorCarrusel .contenedorImgCarrusel {
      height: 500px; }

.contenedorCuadrosIndex {
  margin-top: 2%;
  background-color: sandybrown;
  height: 300px; }
  .contenedorCuadrosIndex .pHorarios {
    text-align: center; }
  .contenedorCuadrosIndex .diasHorarios {
    display: flex;
    justify-content: space-around; }
    .contenedorCuadrosIndex .diasHorarios .divDias {
      text-align: center; }

.divSeccionDireccion {
  margin-top: 2%;
  display: flex;
  justify-content: space-around; }
  .divSeccionDireccion .pSeccionDireccion {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .divSeccionDireccion .iframeSeccionDireccion {
    width: 70%; }
    .divSeccionDireccion .iframeSeccionDireccion iframe {
      border-radius: 5px; }
